<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- <type name="Magento\Checkout\Model\Cart">
        <plugin name="before_plugin_addproduct" type="Yash\Plugins\Plugin\Product" sortOrder="10" disabled="false"/>
    </type> -->

    <type name="Magento\Catalog\Pricing\FinalPrice">
        <plugin name="afterAddToCart" type="Yash\Plugins\Plugin\Product" sortOrder="20" disabled="false"/>
    </type>

    <!-- <type name="Magento\Checkout\Model\Cart">
        <plugin name="aroundAddToCart" type="Yash\Plugins\Plugin\Product" sortOrder="1" disabled="false"/>
    </type> -->

</config>